.btn {
    position: fixed;
    width: 300px;
    height: 30px;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 10px;
    background-color: greenyellow;
    bottom: 10px; /* Подберите нужное значение, чтобы избежать перекрытия с другими элементами */
    left: 50%;
    transform: translateX(-50%);
}

.btn:hover {
    transition: background-color 0.3s ease-in-out;
    background-color: coral;
}
